<div>
  <!-- ng-repeat="url in trackedUrls" -->
  {% raw %}
  <h3>Dashboard</h3>
  <h4>Most Recent Changes</h4>
  <ul class="changes">
    <li ng-repeat="url2 in trackedUrls| orderBy:'-last_changed_at'">
      URL: <a href="{{url2.url}}">{{ url2.url }}</a> <br />
      Last Changed: {{url2.last_changed_at | date: 'medium'}} <br />
      Creation Date: {{url2.created_at | date: 'medium'}} <br />
      DOM Element: {{url2.domElement}} <br />
      Current Content: {{url2.currentContent}}
      <hr>
    </li>
  </ul>
  <h4>History</h4>
  <ul class="history">
    <li ng-repeat="url in trackedUrls">
      URL: <a href="{{url.url}}">{{url.url}}</a>
      <a href='/delete'><i ng-click="deleteItem(url)" class="fa fa-trash-o"></i></a> <br />
      DOM Element: {{url.domElement}} <br />
      Current Content: {{url.currentContent}} <br />
      Creation Date: {{url.created_at | date: 'medium'}} <br />
      <hr>
    </li>
  </ul>


  {% endraw %}
</div>

