<!doctype HTML>
<html ng-app="myApp">
  <head>
    <title>Camel4</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/">Jolly Tracker</a></li>
      </ul>
    </div>
  </nav>
  {% raw %}
  <body ng-controller="SubmitCtrl">
    <div class="container">
      <h3> Track URL and DOM element:</h3>

      <form novalidate role="form" name="inputForm" class="form" ng-submit="submitUrlAndDom()" method="POST">
        <div class="form group">
          <label for="urlSubmit">Enter URL to track:</label>
          <input required ng-pattern="/^http:\/\/\S*/" type="text" id="urlSubmit" name="url" class="form-control" ng-model="form.url">
          <!-- <p>{{form.url}}</p> -->
          <div class="error-message" ng-show="inputForm.url.$error.required">
            Invalid URL. Please make sure to include http://
          </div>
          <div class="error-message" ng-model="error">
            {{error}}
          </div>
          <br />
        </div>
        <div class="form group">
          <label for="domSubmit">DOM element in URL to track:</label>
          <input required type="text" class="form-control" name="domElement" id="domSubmit" ng-model="form.domElement">
          <div class="error-message" ng-show="inputForm.domElement.$error.required">
            DOM element is required
          </div>
        </div>
        <br />
        <!-- <button ng-click="submitUrlAndDom()" class="btn btn-default" value="Submit">Submit</button> -->
        <input type="submit" id="submit" class="btn btn-default" value="Submit" />
      </form>

      <div ng-view class="dashboard">

      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
  {% endraw %}
</html>
